PORT=3000
SEFAZ_AMBIENTE=producao
CHECK_INTERVAL_MS=180000
CHECK_CONCURRENCY=6
SEFAZ_PORTAL_FALLBACK=true
# Exemplo para Windows ou Linux/macOS:
# NODE_EXTRA_CA_CERTS=/caminho/para/icpbrasil-ca.pem
# SEFAZ_CA_FILE=/caminho/para/icpbrasil-ca.pem
# SEFAZ_ALLOW_LEGACY_TLS=true
